<div class="container">
  <div class="row">
    <%= image_tag("/assets/banner.jpg", class: "banner") %>
  </div>

  <div class="row">
    <div class="six column">
      <h3><%= link_to "Normal Mode", games_path %></h3>
    </div>
    <div class="six column">
      <h3><%= link_to "Game Mode", games_path %></h3>
    </div>
  </div>
</div>

<script>

</script>


