<div class="row">
  <div class="column col-lrg-16 col-sml-8">
    <h1>Capture the Flag</h1>
  </div>
</div>

<div class="row">
  <div class="column col-lrg-16 col-sml-8">
    <h3><%= link_to "Normal Mode", games_path %></h3>
  </div>
  <div class="column col-lrg-16 col-sml-8">
    <%# <h3><%= link_to "Game Mode", game_path %1></h3> %>
  </div>
</div>


<script>

</script>


