<div id="map"></div>

<div class="allGames">
  <% @games.each do |game| %>
    <div class="game" id="game_<%= game.id %>">
    </div>
  <% end %>
</div>

<script>
$(function () {
  $("#new_game").on("ajax:success", function (game, data, status, xhr) {
    console.log(data, xhr.responseText);
    data.lng = data.long;
    createGameMarker(data);
    actualWindow.css("display", "none");
    marker.setVisible(false);

  });

});

var actualWindow = $("#createNewGame");
var newGameWindowBtn = $("#newGameWindowBtn");
var gameWindowBtnCount = 1;
newGameWindowBtn.on("click", function () {
  gameWindowBtnCount += 1;
  if (gameWindowBtnCount % 2 == 0) {
    actualWindow.css("display", "block");

  } else {
    actualWindow.css("display", "none");

  };

});

var games = [<% @games.each do |game| %>
<%= "{id: #{game.id}, lat: #{game.lat}, lng: #{game.long}, name: #{game.name.inspect}, picture: '#{game.picture.thumb.url}', time: '#{game.time.inspect}', description: #{game.description.inspect}},".html_safe %>
<% end %>];

var createGameMarker = function (game) {
  game.marker = new google.maps.Marker({
    map: map,
    icon: '/assets/flags/black_flag.png',
    draggable: false,
    animation: google.maps.Animation.DROP,
    position: {
      lat: game.lat,
      lng: game.lng

    }
  });
  game.marker.addListener('mouseover', function () {
    $(".game").css("display", "none");
    lastSelectedIncident = document.getElementById("game_" + game.id);
    console.log(lastSelectedIncident);
    lastSelectedIncident.style.display = "block";
  });
  game.marker.addListener('mouseout', function () {
    if (lastSelectedIncident != null) {
      lastSelectedIncident.style.display = "none";
    }
  });
  game.marker.addListener("click", function (e) {
    lastSelectedIncident = null;
    infoWindow.setContent(
        '<div class="infoWindowContent">' +
        '<h2>' + game.name + '</h2>' +
        '<img src=' + game.picture + '>' +
        '<div class="infoWindowDesc">' +
        'Time: ' + game.time + '<br>' +
        'Description: ' + game.description +
        '</div></div>'

        );
    infoWindow.open(map, game.marker);
  });
};

var map;
function initMap() {
  var lastSelectedGame = null;
  var infoWindow = new google.maps.InfoWindow({
    content: "FRRRARARRARARRAR Hello World"

  });
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 51.38806611676009, lng: -0.100250244140625},
    minZoom: 3,
    zoom: 8,
    styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"},{"weight":"0.20"},{"lightness":"28"},{"saturation":"23"},{"visibility":"off"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#494949"},{"lightness":13},{"visibility":"off"}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#146474"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}]

  });

  // Loose marker we place when a click happens
  marker = new google.maps.Marker({
    map: map,
    draggable: false,
    animation: google.maps.Animation.DROP

  });

  map.addListener('click', function (e) {
    // Go fill in the input type=hidden
    marker.setVisible(true);
    $("#game_lat").val(e.latLng.lat());
    $("#game_long").val(e.latLng.lng());
    marker.setPosition(e.latLng);

  });

  games.forEach(function (game) {
    createGameMarker(game);

  });


}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgPKDNnR376aeoPLyafsvnJs_EcpDtPV8&callback=initMap" async defer>
</script>
