/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html {
  height: 100%;
  width: 100%;
}

body { 
  color: #A0A0A0;
  height: 100%;
  width: 100%;
  background-color: #021019;
}

.banner {
  margin-top: 3em;
}
#normalMode {
  text-align: left;
}
#gameMode {
  text-align: right;
}

a {
  text-decoration: none;
}

h3 {
  text-decoration: none;
  cursor: pointer;
  color: #0271D2
}

#gameLogin {
  padding-top: 1em;
  border-radius: 1em;
  z-index: 2;
  position: fixed;
  top: 10%;
  right: 10%;
  display: none;
  height: 80%;
  width: 80%;
  background-color: rgba(0,0,0,0.75);
}

.subcontainer {
  margin-top: 2em;
}
a.boxclose{
  float:right;
  margin-top:-30px;
  margin-right:-20px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px
}

.boxclose:before {
  content: "×";
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    list-style: none;
  }
}
